* {box-sizing: border-box;}

body {margin: 0;}

.modal  {
  height: 100vh;
  padding: 0 5% 1rem;
}

.modal {
  display: flex;
  flex-direction: column;
}
.modal-body, .modal-header {
  display: flex;
  flex-wrap: wrap;
}
.modal-body {flex:1;}

.modal-body > :first-child { /* .wrapper for list */
  flex:1 1 250px;
  overflow: auto;
}
.modal-body > :last-child { /* map */
  flex:4 4 300px;
  min-height: 200px;
}
.modal-header > h3 {
  flex:1;
  padding-left: 2em;
  padding-right: 2em;
}

.autocomplete {
  list-style-type: none;
  margin: 0;
  padding:0;
  transition: all 0.15s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #f4f4f4;
  min-width: 100%;
  z-index: 10;
  position: absolute;
}

.modal-header button {
  background: none;
  border: none;
  outline: none;
  padding: 1em;
  cursor: pointer;
}

.wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper > ul {
  position: relative;
  transition: all .3s ease-in-out;
  height:0;
}

.wrapper > ul > li {
  position: absolute;
  width: 100%;
  transition: transform .3s ease-in-out;
  display: flex;
  align-items: stretch;
  /*margin: 1rem 0;*/
}


.wrapper > ul:not(.dragging) > li:hover {
  background-color: #f5f5f5;
}


.wrapper li > div {
  display: flex;
}

.wrapper .icon {
  font-size: 140%;
  cursor: pointer;
  padding: 4px;
}

.wrapper .dropdown > :first-child {
  display: flex;
  align-items: center;
  flex: 1;
 }
.wrapper .dropdown > .icon {
  width: 35px;
  justify-content: center;
}


.wrapper address:empty::before{
  content: 'Type your address';
  opacity: .7;
}


.wrapper address.focus, .wrapper address:focus {
  outline: -webkit-focus-ring-color auto 2px;
}
.wrapper address.dirty {
  outline: 2px auto red;
}




.dropdown { position: relative; display: inline-block;}
.dropdown > :last-child { 
  list-style-type: none;
  margin: 0;
  padding:0;
  transition: all 0.15s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #f9f9f9;
  min-width: 100%;
  top: 100%;
  left: 0;
  z-index: 10;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.dropdown.icons > :last-child {
  left: calc(100% + 10px);
  top: calc(50% - 15px);
  background-color: #e1e1e1;
}

.dropdown.icons > :last-child::after, .dropdown.icons > :last-child::before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dropdown.icons > :last-child::after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #e1e1e1;
  border-width: 15px;
  margin-top: -15px;
}
.dropdown.icons > :last-child::before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 21px;
  margin-top: -21px;
}


.dropdown.address {
  flex:1;
}

/*delete button*/
.dropdown.address address + span {
  position: absolute;
  right: 0;
  cursor: pointer;
  display: none;
  font-size: 80%;
  opacity: .6;
}
.dropdown.address address:focus + span, .dropdown.address address + span:active {
  display: block;
}
.dropdown.address address + span::before {
  content: "❌";
}


.dropdown.address > ul {
  list-style-type: disc;
  list-style-position: inside;
}
.dropdown.address > ul > li > span {
  margin-left: -15px;
}


.dropdown.active > :last-child {
  visibility: visible;
  opacity: 1;
}
.dropdown > :last-child > li { cursor: pointer; padding: 4px; }


.wrapper::-webkit-scrollbar { width: 5px; }
.wrapper::-webkit-scrollbar-track-piece { background: #f1f1f1; }
.wrapper::-webkit-scrollbar-thumb { background: #bcbcbc; border: 1px solid #a8a8a8; }